// ================================================================================
// DETALHES
// ================================================================================

.c-detalhes-img {
    height: 450px;
    margin-right: 50px;
    border-radius: 5px;
}

.c-detalhes-infos {
    padding-top: 50px;
    width: 700px;

    p {
        font-size: 14px;
        font-family: Hind;
        margin-bottom: 30px;
    }
}