// ================================================================================
// LOGIN
// ================================================================================

.l-login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.l-login-img {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 900px) {
    .l-login-img {
        display: none;
    }

    .l-login-form {
        width: 100%;
        min-width: 100%;
        text-align: center;

        p {
            padding-top: 10px;
        }

    }
}

.l-login-form {
    width: 50vw;
    padding: 40px;

    a {
        font-size: 13px;
        color: var(--color-palette-violet-2);
        text-decoration: none;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: text_summon 1s ease-in-out forwards;
    }

    &__title {
        font-size: 50px;
        font-weight: 400;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 30px;

        &::first-letter {
            font-size: 60px;
        }
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: text_summon 1s ease-in-out forwards;
    } 

    &__form {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        animation: text_summon 1s ease-in-out forwards;

        h2 {
            padding: 5px 20px;
            background-color: var(--color-palette-red);
            color: white;
            font-size: 13px;
            width: 300px;
            border-radius: 100px;
            font-weight: 500;
        }

        p {
            font-size: 16px;
            margin-top: 10px;
            margin-bottom: 5px;
        }

        input {
            width: 370px;
            padding: 5px 10px;
            font-size: 11px;
        }

        button {
            width: 250px;
            margin-top: 30px;
            padding: 10px;
            border-radius: 100px;
            border: none;
            background-color: var(--color-palette-violet-2);
            color: white;
            cursor: pointer;

            &:hover {
                background-color: var(--color-palette-violet);
            }
        }
    }
}
