// ================================================================================
// MAIN
// ================================================================================

.l-main {
    height: 88vh;
    display: flex;
    padding: 5vw;
    padding-top: 0;
    justify-content: left;
    align-items: center;
    justify-content: center;
} 